.flex {
    display: flex;
    justify-content: space-between;
    margin: 0 355px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: rgba(0, 0, 0, 0.5);
А у а у а он дома во учёбу
}
