.number {
    margin: 40px 90px 40px 90px;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 288px;
line-height: 339px;
/* identical to box height */
text-align: center;

color: #F27C0F;
margin-bottom: 30px;
}